<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Adsense header code below -->
    <!-- Adsense header code above -->
</head>
<body>
    <main>
        <div class="main-box wish">

            <!-- Adsense code below -->
            <!-- Adsense code above -->
            

            <h1 class="beat"><span class="txt-type" data-wait="2000" data-words='["{{name}}"]'></span></h1>
            <p class="center p">Is <b>wishng you</b></p>
            <h3 class="center h3">{{wish}}</h3>
            <img class="wish-img" src="{{src}}" alt="greet image">



            <!-- Adsense code below -->
            <!-- Adsense code above -->


            <p class="msg">{{name}}'s message to you:-</p>
            <p class="msg-body">{{msg}}</p>
            <p class="footer">Copyrights &copy; 2019, All rights reserved.</p>
            <a class="share-btn beat" target="_blank" href="whatsapp://send?text=https://wish.afnan.dev/{{link}}%0A%0ADear%2C%0AClick%20here%20for%20a%20suprise."><img class="wt-logo" src="/wtsap.png" alt="whatsapp logo"> Share <img class="wt-logo" src="/wtsap.png" alt="whatsapp logo"></a>
            <a class="share-btn" target="_blank" href="https://wish.afnan.dev">Create your own wish</a>
           
            <!-- Adsense code below -->
            <!-- Adsense code above -->

        </div>
    </main>
<script src="app.js"></script>
</body>
</html>
